/**
* common
*/

body {
  margin-top: 20px;
}

.title {
  font-size: 42px;
  text-align: center;
}

.replay {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 20px auto;
  cursor: pointer;
  display: block;
  user-select: none;
}

.quiz_container {
  width: 80vw;
  margin: 0 auto;
  background-color: whitesmoke;
  border: 2px solid black;
  position: relative;
}

.quiz_container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.quiz_image_container {
  width: 80%;
  padding-top: 56.25%;
  border: 0.1px dotted black;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.quiz_word_container {
  position: absolute;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.quiz_word {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
  font-weight: bold;
}
